tunnel: replace-with-tunnel-uuid
credentials-file: /Users/manxc/.cloudflared/replace-with-tunnel-uuid.json
protocol: http2

ingress:
  - hostname: trek.xinyi.dev
    service: http://127.0.0.1:3030
    originRequest:
      httpHostHeader: trek.xinyi.dev
  - service: http_status:404
